[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-mcp-adapters = "*"
gpt-researcher = "*"
python-dotenv = "*"
openai = "*"
tavily-python = "*"
sentence-transformers = "*"
langchain-huggingface = "*"

[dev-packages]

[requires]
python_version = "3.12"
